The Champions League Draw is sure a very intesresting event to watch, if you did watched it, did you notice how every time the hosts pull out the name of a team the system automatically knows in which pot the team could be possibly allocated taking all the rules into account?

Well I'm going to try to replicate exactly what the system did, so it will very fun to make our own simulation of the 2022 Champios League Draw

In this experiment I will use different tools and methods in order to practice but of course there is no a single way of doing it, think about this experiment and how would you do it

The first step is to get the teams that are going to be playing this exciting tournament, therefore instead of creating a manual list, I'm going to scrap the data from a Sports website called 'Goal'

In [ ]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

scraper = pd.read_html('https://www.goal.com/en-gb/news/champions-league-2022-23-group-stage-draw-date-time-teams/blt576b8b8fd09f9bcc')

scraper

With this method we are only getting the HTML Tables from that specific website, so we require the second table, lets enumerate the index and the table to know what is the index of the table we are seeking

In [ ]:

for idx, table in enumerate(scraper):
    print("*********************")
    print(idx)
    print(table)

The table containing the pots has the index '0' so now is just a matter of subsetting our object and creating the dataframe

In [248]:
pots = pd.DataFrame(scraper[1])

pots

                 Pot 1               Pot 2              Pot 3           Pot 4
0          Real Madrid           Liverpool  Borussia Dortmund     Club Brugge
1  Eintracht Frankfurt             Chelsea           Salzburg          Celtic
2      Manchester City           Barcelona   Shakhtar Donetsk   Maccabi Haifa
3             AC Milan            Juventus              Inter  Viktoria Plzen
4       Bayern München  Atletico de Madrid             Napoli       Marseille
5  Paris Saint-Germain             Sevilla        Sporting CP         Rangers
6                Porto          RB Leipzig   Bayer Leverkusen   Dinamo Zagreb
7                 Ajax   Tottenham Hotspur            Benfica      Copenhagen

As mentioned before, the draw has rules, so first we will have to make sure we gather all the necessary data to set those rules in place:

1. Two teams from the same football association could not be drawn into the same group. That means, for example, Manchester City and Tottenham Hotspur could not be placed together despite being in different pots.

In order to satisfy the first rule we will require the club country, in here I've gather the info from a csv in my local machine just to change the ingestion method

In [ ]:
from typing import Concatenate

teams= pd.DataFrame(columns=['club'])

teams['club']= pd.concat([pots['Pot 1'], pots['Pot 2'], pots['Pot 3'], pots['Pot 4']])

teams

In [ ]:
countries = pd.read_csv('/Users/erick/Documents/Projects/championsLeagueDraw/clubsCountries.csv', delimiter=';')
countries

In [ ]:
teams = teams.merge(countries, on='club')[['club', 'country_x']].rename(columns={'country_x':'country'})

teams

Next, we need a data frame with the groups, for the moment is going to be empty and we are going to ingest the teams after

In [249]:
groups = pd.DataFrame(columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])
groups

Empty DataFrame
Columns: [A, B, C, D, E, F, G, H]
Index: []

Let's start with the first teams, these are going to be allocated one per group so in here there's no limitation, we will fill them in order into the first position

In [254]:
import numpy as np

number=8

for x in range(len(pots)):
    for y in groups.iteritems():
        number = np.random.randint(low=0, high=7,dtype=int
        selection = pots.at[number, 'Pot 1']
        groups.at[0,y] = selection
        pots.at[number, 'Pot 1'] = ''

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

TypeError: unhashable type: 'Series'

In [ ]:
groups

In [251]:
groups.iteritems()

In [232]:
import numpy as np

number = np.random.randint(low=0, high=7,dtype=int)
number

0

In [233]:
selection = pots.at[number, 'Pot 1']
print(selection)

Real Madrid

In [234]:
iA=0
iB=0
iC=0
iD=0
iF=0
iG=0
iH=0

In [255]:
groups.at[iA ,'A'] = selection
iA = iA+1
groups

                     A    B    C    D    E    F    G    H
1  Paris Saint-Germain  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [236]:
pots.at[number, 'Pot 1'] = ''
pots

                 Pot 1               Pot 2              Pot 3           Pot 4
0                                Liverpool  Borussia Dortmund     Club Brugge
1  Eintracht Frankfurt             Chelsea           Salzburg          Celtic
2      Manchester City           Barcelona   Shakhtar Donetsk   Maccabi Haifa
3             AC Milan            Juventus              Inter  Viktoria Plzen
4       Bayern München  Atletico de Madrid             Napoli       Marseille
5  Paris Saint-Germain             Sevilla        Sporting CP         Rangers
6                Porto          RB Leipzig   Bayer Leverkusen   Dinamo Zagreb
7                 Ajax   Tottenham Hotspur            Benfica      Copenhagen

In [237]:
number2 = np.random.randint(low=0, high=7,dtype=int)
if pots.at[number2, 'Pot 1'] == '':
    number2=np.random.randint(low=0, high=7,dtype=int)
number2

5

In [238]:
selection = pots.at[number2, 'Pot 1']
print(selection)

Paris Saint-Germain

In [239]:
groups.at[iB ,'B'] = selection
iB = iB+1
groups

             A                    B    C    D    E    F    G    H
0  Real Madrid  Paris Saint-Germain  NaN  NaN  NaN  NaN  NaN  NaN

In [240]:
pots.at[number2, 'Pot 1'] = ''
pots

                 Pot 1               Pot 2              Pot 3           Pot 4
0                                Liverpool  Borussia Dortmund     Club Brugge
1  Eintracht Frankfurt             Chelsea           Salzburg          Celtic
2      Manchester City           Barcelona   Shakhtar Donetsk   Maccabi Haifa
3             AC Milan            Juventus              Inter  Viktoria Plzen
4       Bayern München  Atletico de Madrid             Napoli       Marseille
5                                  Sevilla        Sporting CP         Rangers
6                Porto          RB Leipzig   Bayer Leverkusen   Dinamo Zagreb
7                 Ajax   Tottenham Hotspur            Benfica      Copenhagen

In [241]:
number3 = np.random.randint(low=0, high=7,dtype=int)
if pots.at[number3, 'Pot 1'] == '':
    number3=np.random.randint(low=0, high=7,dtype=int)
number3

3

In [242]:
selection = pots.at[number3, 'Pot 1']
print(selection)

AC Milan

In [243]:
groups.at[iC ,'C'] = selection
iC = iC+1
groups

             A                    B         C    D    E    F    G    H
0  Real Madrid  Paris Saint-Germain  AC Milan  NaN  NaN  NaN  NaN  NaN

In [244]:
pots.at[number3, 'Pot 1'] = ''
pots

                 Pot 1               Pot 2              Pot 3           Pot 4
0                                Liverpool  Borussia Dortmund     Club Brugge
1  Eintracht Frankfurt             Chelsea           Salzburg          Celtic
2      Manchester City           Barcelona   Shakhtar Donetsk   Maccabi Haifa
3                                 Juventus              Inter  Viktoria Plzen
4       Bayern München  Atletico de Madrid             Napoli       Marseille
5                                  Sevilla        Sporting CP         Rangers
6                Porto          RB Leipzig   Bayer Leverkusen   Dinamo Zagreb
7                 Ajax   Tottenham Hotspur            Benfica      Copenhagen